:root {
  --text-colour: #333333;
  --primary-header-colour: #212121;
  --secondary-header-colour: #ffffff;
  --accent-colour: #2196f3;
  --primary-backround-colour: #ffffff;
  --secondary-backround-colour: #f5f4fa;
  --logo-colour: #000000;
  --gap: 30px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: var(--text-colour);
  background-color: var(--backround-colour);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-header-colour);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding: 94px 0;
}

/* --------------------------------------STUDIO----------------------------------------------- */
/* ---------------------------HEADER--------------------------- */
.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.header-conteiner {
  display: flex;
  align-items: center;
}

.header-nav,
.header-list {
  display: flex;
  column-gap: 50px;
}
.header-list {
  margin-left: auto;
  align-items: center;
}
.header-logo {
  margin-right: 93px;
}
.header-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-colour);
}
.header-contact {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header-link,
.header-contact {
  padding: 32px 2px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-header-colour);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link { 
  
  display: block;
  position: relative;
  
}

.current::after { 
  content: '';
  display: inline-block;
  position: absolute;

  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-colour);
}
.header-icon { 
  fill: currentColor;
}
.header-contact {
  color: #757575 ;
} 
.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus,
.adress-link:hover,
.adress-link:focus,
.adress-item-link:hover,
.adress-item-link:focus,
.subject,
.current {
  color: var(--accent-colour);
}

/* ---------------------------HERO-------------------------- */
.hero {
  padding: 200px 0;

  max-width: 1600px;
  margin: 0 auto;

  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;

  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-header-colour);
}

.hero-btn{
  display: block;
  margin: 0 auto;

  min-width: 216px;
  height: 50px;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--secondary-backround-colour);
  background-color: var(--accent-colour);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* ---------------------------BENEFITS-------------------------- */
.benefits-list {
  display: flex;
  column-gap: var(--gap);
}
.benefits-items {
  flex-basis: calc((100% - 90px) / 4);
}
.benefits-card { 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background-color: var(--secondary-backround-colour);
  border-radius: 4px;
}
.benefits-subtitle {
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-header-colour);
}
.benefits-text {
  line-height: 1.71;
}

/* ---------------------------ABOUT-------------------------- */
.about-list,
.team-list {
  display: flex;
  column-gap: var(--gap);
  justify-content: space-between;
}
.about {
  padding-top: 0;
}
.about-item-content { 
  position: relative;
}
.about-text-wrapper { 
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.about-text { 
  color: #eeeeee;
  text-transform: uppercase;
  text-align: center;
  padding: 27px 0;
}
/* ---------------------------TEAM------------------------- */
.team {
  background-color: var(--secondary-backround-colour);
}

.team-item {
  background-color: var(--primary-backround-colour);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-employee {
  padding: 30px;

}
.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-header-colour);
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
.team-sm, 
.footer-sm{ 
  display: flex;
  justify-content: center;
  column-gap:10px; 
}
.team-sm-item { 
  width: 44px;
  height: 44px;
}
.team-sm-link,
.footer-sm-link { 
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.team-sm-link { 
  color:#AFB1B8;
  fill: currentColor;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-sm-link:hover, 
.team-sm-link:focus{ 
  background-color: var(--accent-colour);
  fill: var(--secondary-header-colour);
}
/* ---------------------------CLIENTS------------------------- */
.clients-list {
  display: flex;
  justify-content: center;
  column-gap:var(--gap);
}
.clients-items { 
  width: 170px;
  height: 92px;
}
.cliens-link { 
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  fill: #AFB1B8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cliens-link:hover,
.cliens-link:focus { 
  fill: var(--accent-colour);
  border: 1px solid var(--accent-colour);
}
/* ---------------------------FOOTER------------------------- */
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-container { 
  display: flex;
  align-items: baseline
}
.footer-wraper { 
  margin-right: 70px;
  flex-grow: 1;
}
.footer-logo {
  color: var(--secondary-header-colour);
}
.adress {
  margin-top: 20px;
}
.adress-item:not(:last-child) { 
  margin-bottom: 9px;
}
.adress-link,
.adress-item-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--secondary-header-colour);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-item-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-social { 
  margin-right: 93px;
}
.footer-subtitle, .footer-form-subtitle { 
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-header-colour); 
}
.footer-sm-item { 
  width: 44px;
  height: 44px;
}
.footer-sm-link { 
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--secondary-header-colour);
  fill: currentColor; 

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sm-link:hover, 
.footer-sm-link:focus{ 
  background-color: var(--accent-colour);
  fill: var(--secondary-header-colour);
}
.footer-form { 
  margin-left: auto;
}
.footer-form-group { 
  display: flex;
  column-gap: 12px;
}
.footer-form-group input { 
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-btn, .modal-form-btn{ 
  width: 200px;
  margin: 0 auto;

  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--secondary-backround-colour);
  background-color: var(--accent-colour);

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.form-btn:hover, .modal-form-btn:hover,
.form-btn:focus, .modal-form-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn-icon { 
  fill: currentColor;
}
/* --------------------------------------MODAL----------------------------------------------- */
/* стилі бекдропу і модалки */
.backdrop { 
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal { 
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-backround-colour);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title { 
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-header-colour)

}
.backdrop.is-hidden .modal { 
  transform: translate(-50%, -50%) scale(0);
}
/* кнопка закриття */
.modal-close { 
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;

  
}
.modal-close-btn { 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-close-btn{ 
  fill: var(--accent-colour);
}
.is-hidden { 
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* форма  */
/* поля вводу  */
.modal-form-field {
  margin-bottom: 10px;
}
.modal-field-comment { 
  margin-bottom: 20px;
}
.form-label, .modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.input-wrap {
  position: relative;
}
.form-input {
  padding-left: 42px;

  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* коментарій */
.modal-comment {
  padding-left: 16px; 
  padding-top: 12px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::placeholder { 
  color: rgba(117, 117, 117, 0.5);
}
/* чекбокс */
.modal-form-checkbox { 
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
/* фокус на поля */
.form-input:focus, .modal-comment:focus { 
  outline: 1px solid var(--accent-colour);
}

.form-input:focus + .modal-icon { 
  fill: var(--accent-colour);
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
}
.checkbox-label span{
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-header-colour);
  border-radius: 3px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), backround-colour 250ms cubic-bezier(0.4, 0, 0.2, 1);;
} 
.check-link { 
  color: var(--accent-colour);
  border-bottom: 0.5px solid var(--accent-colour);
}
.check-icon {
  fill: transparent;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-label span {
  border-color: transparent;
  background-color: var(--accent-colour);
}
.checkbox-input:checked + .checkbox-label .check-icon {
  fill: var(--secondary-header-colour);
}
.checkbox-input:focus + .checkbox-label span {
  border-color: var(--accent-colour);
}


/* --------------------------------------PORTFOLIO----------------------------------------------- */
.portfolio-filter-list {
  display: flex;
  justify-content: center;
}
.portfolio-filter:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn {
  height: 38px;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-header-colour);
  background-color: var(--secondary-backround-colour);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-colour);
  color: var(--secondary-header-colour);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-item-content { 
  position: relative;
  overflow: hidden;
}

.portfolio-text-hover { 
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--secondary-header-colour);

  overflow: auto;


  width: 100%;
  height: 100%;
  background-color:rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-link { 
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus { 
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:hover .portfolio-text-hover,
.portfolio-link:focus .portfolio-text-hover  { 
  transform: translateY(0);
} 

.potrfolio-text {
  border: 1px solid #eeeeee;
  border-top: 0;
}
.portfolio-title {
  margin-bottom: 4px;

  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-header-colour);
}
.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.8;
  color: var(--text-colour);
}
.portfolio-filter-list {
  margin-bottom: 50px;
}
.potrfolio-text {
  padding: 20px 24px;
}
