.portfolio-filter-list {
    display: flex;
    justify-content: center;
  }
  .portfolio-filter:not(:last-child) {
    margin-right: 8px;
  }
  .portfolio-btn {
    height: 38px;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
  
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--primary-header-colour);
    background-color: var(--secondary-backround-colour);
    cursor: pointer;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-btn:hover,
  .portfolio-btn:focus {
    background-color: var(--accent-colour);
    color: var(--secondary-header-colour);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }