:root {
    --text-colour: #333333;
    --primary-header-colour: #212121;
    --secondary-header-colour: #ffffff;
    --accent-colour: #2196f3;
    --primary-backround-colour: #ffffff;
    --secondary-backround-colour: #f5f4fa;
    --logo-colour: #000000;
    --gap: 30px;
}  